{{!< default}}

<div class="columns is-fullheight">
    <header class="column is-280px site-header-column">
        <h1 class="site-title">
            <a href="{{@site.url}}">
            {{#if @site.logo}}
                <img class="site-logo" src="{{img_url @site.logo size="l"}}" alt="{{@site.title}}" />
            {{else}}
                {{@site.title}}
            {{/if}}
            </a>
        </h1>
        <p class="site-description">{{@site.description}}</p>

        {{> "site-nav"}}

        <section class="about-this-site">
            Shouting into the void as a service.  A place for me to pseudonymously put thoughts to paper.  I mostly write about my work building software engineering organizations.  Thanks for listening.
        </section>
    </header>
    <main class="column site-content-column">
        <div class="post-feed">
            {{#foreach posts}}

                {{> "post-card"}}

            {{/foreach}}
        </div>

        {{pagination}}
    </main>
</div>

