{{!< default}}

<div class="columns is-fullheight">
    <header class="column site-header-column">
        <div class="logo-block">
            <div class="logo-column">
                <h1 class="site-title">
                    <a href="{{@site.url}}">
                    {{#if @site.logo}}
                        <img class="site-logo" src="{{img_url @site.logo size="l"}}" alt="{{@site.title}}" />
                    {{else}}
                        {{@site.title}}
                    {{/if}}
                    </a>
                </h1>
                <p class="site-description">{{@site.description}}</p>
            </div>
        </div>

        {{> "site-nav"}}

        <section class="about-this-site">
            Shouting into the void as a service.  A place for me to pseudonymously put thoughts to paper.  I mostly write about my work building software engineering organizations.  Thanks for listening.
        </section>
    </header>
    <main class="column site-content-column">
        {{#post}}

            <div class="leave-page-link"><a href="javascript:history.back()"><div class="arrow-icon prev"><i></i></div> Go Back</a></div>
            {{> "post-content" hideMetadata=true}}

        {{/post}}
    </main>
</div>

